<a href="https://colab.research.google.com/github/SelenKo/MetricsDashboard/blob/main/BES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import Libraries

In [3]:
pip install tefas-crawler

Collecting tefas-crawler
  Downloading tefas_crawler-0.4.0-py3-none-any.whl (8.8 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from tefas-crawler) (2.31.0)
Collecting marshmallow (from tefas-crawler)
  Downloading marshmallow-3.21.3-py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.2/49.2 kB 1.2 MB/s eta 0:00:00
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from tefas-crawler) (2.0.3)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from tefas-crawler) (2.0.7)
Requirement already satisfied: packaging>=17.0 in /usr/local/lib/python3.10/dist-packages (from marshmallow->tefas-crawler) (24.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->tefas-crawler) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->tefas-crawler) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->tefas-crawler) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->tefas-crawler) (1.25.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->tefas-crawler) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->tefas-crawler) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->tefas-crawler) (2024.6.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->tefas-crawler) (1.16.0)
Installing collected packages: marshmallow, tefas-crawler
Successfully installed marshmallow-3.21.3 tefas-crawler-0.4.0

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.optimize import minimize
import pandas as pd
from datetime import datetime, timedelta
from tefas import Crawler

In [5]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

## Data Read

In [6]:
tefas = Crawler()

In [61]:
def fetch_data(start, end,kind='YAT'):
    return tefas.fetch(start=start, end=end, kind=kind,columns=["code", "date", "price", "number_of_investors"])


def fetch_data_run(start_date,end_date,kind='YAT'):
  data_frames = []

  # Loop through each month and fetch data
  while start_date < end_date:
      month_end_date = (start_date + timedelta(days=31)).replace(day=1) - timedelta(days=1)
      if month_end_date > end_date:
          month_end_date = end_date

      # Fetch data for the month
      month_data = fetch_data(start_date.strftime("%Y-%m-%d"), month_end_date.strftime("%Y-%m-%d"),kind=kind)
      data_frames.append(month_data)

      # Move to the next month
      start_date = (month_end_date + timedelta(days=1)).replace(day=1)

  # Combine all the data
  df = pd.concat(data_frames)

  return df

In [ ]:
# dataname='/content/drive/My Drive/Forex/Data/Comparison/fondata202406201906.csv'
# start_date = datetime.strptime("2019-06-01", "%Y-%m-%d")
# end_date = datetime.strptime("2024-06-01", "%Y-%m-%d")

# fetch_data_run(start_date=start_date,end_date=end_date).to_csv(dataname)
# df.to_csv('/content/drive/My Drive/Forex/Data/Comparison/fondata.csv')

In [ ]:
#df = pd.read_csv('/content/drive/My Drive/Fondata/filledfondata202406201906.csv',delimiter=',')
#df=df.drop(['Unnamed: 0'], axis=1)
#df['date'] = pd.to_datetime(df['date'], format="%Y-%m-%d")

In [ ]:
df = fetch_data_run(start_date=datetime.strptime("2023-06-01", "%Y-%m-%d") ,
                    end_date=datetime.strptime("2024-07-05", "%Y-%m-%d") ,kind='EMK')

In [ ]:
df.date.unique()

In [31]:
df['date'] = pd.to_datetime(df['date'], format="%Y-%m-%d")

# Extract year and month
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month

# Concatenate year and month
df['year_month'] = df['year'].astype(str) + '-' + df['month'].astype(str).str.zfill(2)

In [32]:
print(df.dtypes)

code                           object
date                   datetime64[ns]
price                          object
number_of_investors            object
year                            int32
month                           int32
year_month                     object
dtype: object

In [35]:
df

Empty DataFrame
Columns: [code, date, price, number_of_investors, year, month, year_month]
Index: []

In [33]:
df.year_month.unique()

array([], dtype=object)

In [ ]:
# prompt: extreact year month from the date column and concat year month in a column

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.optimize import minimize
from datetime import datetime, timedelta
from tefas import Crawler
from google.colab import drive
!pip install tefas-crawler

drive.mount('/content/drive/')

df = tefas.fetch(start="2023-06-01",end="2024-07-07", kind='EMK',
                   columns=["code", "date", "price" ,'number_of_investors']
                   )
df['date'] = pd.to_datetime(df['date'], format="%Y-%m-%d")

# Extract year and month
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month

# Concatenate year and month
df['year_month'] = df['year'].astype(str) + '-' + df['month'].astype(str).str.zfill(2)

print(df.head())